# Python 가상환경 (uv, venv)
.venv/
venv/

# Python 기본 빌드 아티팩트
__pycache__/
*.pyc
*.pyo
*.pyd

# 배포 / 빌드 관련
build/
dist/
*.egg-info/
.eggs/

# 환경 변수 파일
.env
.env.*

# IDE / 에디터 관련
.vscode/
.idea/
*.swp

# 로그, 캐시
*.log
*.pot
*.mo
.cache/
.mypy_cache/
.pytest_cache/
.dmypy.json
.pyre/
cython_debug/

# Jupyter Notebook
.ipynb_checkpoints

# uv 캐시 (패키지 캐시가 저장될 수 있음)
.uv/

# OS 관련
.DS_Store
Thumbs.db
